{% extends '@EasyAdmin/layout.html.twig' %}

{% block title %}
  Admin Dashboard
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">
      Administration
    </h1>
    <p class="lead">
      welcome to BookStore Admin Dashboard
    </p>
  </div>
{% endblock %}
