{% extends 'base.html.twig' %}

{% block title %}
  Hello BlogController!
{% endblock %}

{% block body %}
  <div class="row text-center mt-5 ml-auto mr-auto">
    {% for post in blog %}
      <div class="card mb-3" style="max-width: 800px;">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="/images/blog/{{ post.imageName }}"
              class="img-fluid rounded-start"
              alt="post_image" />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">
                {{ post.title }}
              </h5>
              <p class="card-text">
                {{ (post.content|slice(0, 120)) ~ '...' }}
              </p>
              <p class="card-text">
                {# <small class="text-muted">Last updated 3 mins ago</small> #}
                <small class="text-muted">
                  Posted in {{ post.createdAt|date('F d, Y') }}
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
