{% extends 'base.html.twig' %}
{% block body %}
  <!-- Header -->
  <header class="py-5">
    <div class="container px-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xxl-6">
          <div class="text-center my-5">
            <h1 class="fw-bolder mb-3">
              Book Store
            </h1>
            <p class="lead fw-normal text-muted mb-4">
              is a unique and special place to shop—a locally owned,
              independently run Cambridge landmark since 1932. Our bookstore is
              known for an extraordinary selection of new, used, and remaindered
              books; an award-winning author event series; and a history of
              innovation—including print-on-demand services, local partnerships,
              and digital media. On harvard.com visitors can browse our shelves,
              read staff recommendations, and view our calendar of upcoming
              author events. Sign up for our email newsletter, which includes
              updates on sales, events, new releases, and featured books. Thanks
              for shopping indie at Harvard Book Store!
            </p>
            <a class="btn btn-primary btn-lg" href="#scroll-target">
              Read our story
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- About section one -->
  <section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-5 mb-lg-0"
            {# src="https://dummyimage.com/600x400/343a40/6c757d" #}
            src="{{ asset('img/book2.jpg') }}"
            alt="..." />
        </div>
        <div class="col-lg-6">
          <h2 class="fw-bolder">
            Shipping Options
          </h2>
          <p class="lead fw-normal text-muted mb-0">
            <span class="d-block">
              We have three shipping options available to harvard.com customers:
            </span>
            <span class="d-block">
              - Saver (USPS Media Mail - Uninsured / Minimal Tracking)
            </span>
            <span class="d-block">
              - Priority (USPS Priority Mail or UPS Ground - Detailed Tracking)
            </span>
            <span class="d-block">
              - Specialty (USPS Media Mail or Priority, based on order contents)
            </span>
            <span class="d-block">
              Please note that Harvard Book Store is not responsible for stolen
              or missing packages marked "delivered" by USPS or UPS tracking.
              Missing package claims must be made with the USPS or UPS.
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- About section two -->
  <section class="py-5">
    <div class="container px-5 my-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-first order-lg-last">
          <img class="img-fluid rounded mb-5 mb-lg-0"
            {# src="https://dummyimage.com/600x400/343a40/6c757d" #}
            src="{{ asset('img/book3.jpg') }}"
            alt="..." />
        </div>
        <div class="col-lg-6">
          <h2 class="fw-bolder">
            Returns
          </h2>
          <p class="lead fw-normal text-muted mb-0">
            <span class="d-block">
              At the bookstore Items must be in saleable condition, and returns
              must be accompanied by the original receipt. Clothing items must
              have the original tags still attached. If you return an item
              within thirty days, you will be refunded in full, using the method
              of payment shown on the original receipt. Returns made between
              thirty and sixty days can be exchanged for store credit only. No
              returns can be accepted after sixty days.
            </span>
            <span class="d-block">
              Travel guides and test prep books are non-returnable.
            </span>
            <span class="d-block">
              For all returns and exchanges, the customer is responsible for
              costs associated with returning the item(s) to Harvard Book Store.
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Team members section -->
  <section class="py-5 bg-light">
    <div class="container px-5 my-5">
      <div class="text-center">
        <h2 class="fw-bolder">
          Our team
        </h2>
        <p class="lead fw-normal text-muted mb-5">
          Dedicated to quality and your success
        </p>
      </div>
      <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
        <div class="col mb-5 mb-5 mb-xl-0">
          <div class="text-center">
            <img class="img-fluid rounded-circle mb-4 px-4"
              src="https://dummyimage.com/150x150/ced4da/6c757d"
              alt="..." />
            <h5 class="fw-bolder">
              Mohamed Amine Oueslati
            </h5>
            <div class="fst-italic text-muted">
              Founder &amp; CEO
            </div>
          </div>
        </div>
        <div class="col mb-5 mb-5 mb-xl-0">
          <div class="text-center">
            <img class="img-fluid rounded-circle mb-4 px-4"
              src="https://dummyimage.com/150x150/ced4da/6c757d"
              alt="..." />
            <h5 class="fw-bolder">
              Arden Vasek
            </h5>
            <div class="fst-italic text-muted">
              CFO
            </div>
          </div>
        </div>
        <div class="col mb-5 mb-5 mb-sm-0">
          <div class="text-center">
            <img class="img-fluid rounded-circle mb-4 px-4"
              src="https://dummyimage.com/150x150/ced4da/6c757d"
              alt="..." />
            <h5 class="fw-bolder">
              Toribio Nerthus
            </h5>
            <div class="fst-italic text-muted">
              Operations Manager
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="text-center">
            <img class="img-fluid rounded-circle mb-4 px-4"
              src="https://dummyimage.com/150x150/ced4da/6c757d"
              alt="..." />
            <h5 class="fw-bolder">
              Malvina Cilla
            </h5>
            <div class="fst-italic text-muted">
              CTO
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
